@import '../../styles/utils/functions.scss';
@import '../../styles/utils/mixins.scss';

.home {
	width: 100%;
	max-width: rem(1110);
	margin: 0 auto;
	position: relative;
	display: grid;
	grid-template-columns: 255px 1fr;
	grid-template-rows: auto;
	gap: 24px 30px;

	&-content {
		grid-area: 1 / 2 / 2 / 3;

		& > div {
			@include sidebar-block;
		}

		& > a {
			display: block;
			margin-bottom: rem(24);
		}
	}

	&-sidebar {
		grid-area: 1/1/2/2;

		& > div {
			@include sidebar-block;
		}
	}
}
