@import '../styles/utils/functions.scss';
@import '../styles/utils/mixins.scss';

.page {
	display: grid;
	grid-template-columns: 255px 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'sidebar  main';
	gap: 24px 30px;
}

// .sidebar {
// 	grid-area: sidebar;
// }

.main {
	grid-area: main;

	& > div {
		@include sidebar-block;
	}
}
