:root {
	/* Colors */
	--lighter-gray: #f7f8fd;
	--light-gray: #f2f4ff;
	--blue-yonder: #647196;
	--purple-navy: #373f68;
	--purple-navy-2: #3a4374;
	--purple-navy-2-hover: #656ea3;
	--purple-navy-3-hover: #cfd7ff;
	--marine-blue: #4661e6;
	--marine-blue-hover: #7c91f9;
	--marine-blue-hover-2: #8397f8;
	--maya-blue: #62bcfa;
	--dark-salmon: #f49f85;
	--rose-madder: #d73737;
	--rose-madder-hover: #e98888;
	--purple: #ad1fea;
	--purple-hover: #c75af6;
	--comment-border-bottom: rgba(151, 151, 151, 0.25);
	--input-placeholder: #8c92b3;

	/* Typography */
	--font-base: 'Jost', sans-serif;
	--fw-medium: 500;
	--fw-smbold: 600;
	--fw-bold: 700;
}
