@import './styles/utils/functions.scss';
@import './styles/utils/variables.scss';
@import './styles/utils/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: var(--font-base);
	font-size: rem(16);
}

body {
	font-family: inherit;
	margin: 0;
}

#root {
	background-color: var(--light-gray);
	width: 100vw;
	height: 100%;
	padding: rem(80) 0;
	margin: 0;

	.page {
		position: relative;
		width: 100%;
		max-width: rem(1110);
		margin: 0 auto;
	}
}

h1,
h2,
h3,
h4 {
	color: var(--purple-navy-2);
	font-weight: var(--fw-bold);
}

h1 {
	font-size: rem(24);
	line-height: rem(35);
	letter-spacing: -0.33;
}

h2 {
	font-size: rem(20);
	line-height: rem(29);
	letter-spacing: -0.25;
}

h3 {
	font-size: rem(18);
	line-height: rem(26);
	letter-spacing: -0.25;
}

h4 {
	font-size: rem(14);
	line-height: rem(20);
	letter-spacing: -0.2;
}

p {
	color: var(--blue-yonder);
	font-size: rem(16);
	line-height: rem(23);

	// Heading 2 - Jost Regular  |  15px; 22px Line
	.heading-2 {
		font-size: rem(15);
		line-height: rem(22);
	}

	// Heading 3 - Jost Semibold  |  13px; 19px Line
	.heading-3 {
		font-size: rem(13);
		line-height: rem(19);
	}
}

ul {
	padding: 0;

	li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
}
